@using CleanAssessment.Components.Shared
@using CleanAssessment.Shared.Extensions
@* <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

 *@

<MudNavMenu Bordered Dense>
    @if (ShowFavorties && !FavNavLink.Favorites.IsNullOrEmpty())
    {
        <MudNavGroup Title="Favorites" Expanded="true">
            @foreach (var favLink in FavNavLink.Favorites)
            {
                @favLink
            }
        </MudNavGroup>
    }
    <MudNavGroup Title="Misc" Expanded="true">
        <FavNavLink Href="counter" Icon="@Icons.Material.Filled.Numbers">Counter</FavNavLink>
        <FavNavLink Href="customer" Icon="@Icons.Material.Filled.Person">Customers</FavNavLink>
    </MudNavGroup>
</MudNavMenu>

@code {
    [Parameter]
    public bool ShowFavorties { get; set; } = true;
}